### Q1. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’ Add ‘mango to the above list Also add banana, grapes & orange in the list insert apple in the 5th position of a variable ‘a’ Remove last item from the list

In [1]:
# Create a list with the given elements and assign it to the variable 'a'
a = [2, 3, 4, 5, 6, 7]
# Add 'mango' to the list 'a'
a.append('mango')
# Add 'banana', 'grapes', and 'orange' to the list 'a'
a.extend(['banana', 'grapes', 'orange'])
# Insert 'apple' at the 5th position (index 4) in the list 'a'
a.insert(4, 'apple')
# Remove the last item from the list 'a'
a.pop()
# Print the updated list 'a'
print(a)

[2, 3, 4, 5, 'apple', 6, 7, 'mango', 'banana', 'grapes']

### Q2.
### L = [1,2,3,4,5,6,7] Using the above list slice from 1:4

In [3]:
L = [1,2,3,4,5,6,7]
L[1:4]

[2, 3, 4]

### Q3. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [4]:
L = [4,5,6,8,3] 
L[::-1]

[3, 8, 6, 5, 4]

### Q4. Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [5]:
L = [2, 4, 7, 3, 6, 8]
# Use list comprehension to square each element in the list
squared_list = [x**2 for x in L]
# Print the squared list
print(squared_list)

[4, 16, 49, 9, 36, 64]

### Q5. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the function with a tuple of your choice.

In [6]:
def sum_of_integers(t):
    return sum(t)

# Test the function with a tuple of my choice
my_tuple = (1, 2, 3, 4, 5)
result = sum_of_integers(my_tuple)
print("Sum of the integers in the tuple:", result)

Sum of the integers in the tuple: 15

### Q6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set. Print the resulting set to the console.

In [7]:
fruits1 = {"apple", "banana", "pear"}
fruits2 = {"orange", "grape", "kiwi"}
combined_fruits = fruits1.union(fruits2) #union
print(combined_fruits)

{'banana', 'orange', 'grape', 'apple', 'kiwi', 'pear'}

### Q7. Create a set of random words, and use the add() method to add a new word to the set. Print the resulting set to the console.

In [8]:
words = {"hello", "world", "python"}
words.add("programming") #add the words in set
print(words)

{'world', 'hello', 'programming', 'python'}

### Q8. Create a set of your favourite animals, and use the remove() method to remove one animal from the set. Print the resulting set to the console.

In [10]:
animals = {"dog", "cat", "hamster", "parrot"}
animals.remove("cat")
print(animals)

{'hamster', 'parrot', 'dog'}

### Q9. favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
### favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
### Use the zip() function to combine the book set and movie list into a list of tuples representing book/ movie pairs. Print the resulting list.

In [13]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
# Use zip() to combine the book set and movie list into a list of tuples
book_movie_pairs = list(zip(favorite_books, favorite_movies))
# Print the resulting list of tuples
print(book_movie_pairs)

[('1984', 'The Shawshank Redemption'), ('To Kill a Mockingbird', 'The Godfather'), ('Pride and Prejudice', 'The Dark Knight')]

### Q10. Write a Python program to find the difference between consecutive numbers in a list.

In [14]:
def find_consecutive_differences(numbers):
    differences = []
    for i in range(1, len(numbers)):
        difference = numbers[i] - numbers[i - 1]
        differences.append(difference)
    return differences

# Example list of numbers
numbers_list = [10, 15, 20, 25, 30]

# Find the differences between consecutive numbers
result = find_consecutive_differences(numbers_list)

# Print the resulting list of differences
print("Differences between consecutive numbers:", result)

Differences between consecutive numbers: [5, 5, 5, 5]